# mailer
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587
NODEMAILER_SERVICE=gmail
NODEMAILER_SECURE = false
NODEMAILER_REQUIRE_TLS=true
NODEMAILER_LOGGER=true
NODEMAILER_DEBUG=true
NODEMAILER_USER=############
NODEMAILER_PASS=###########

#APP
APP_PROTOCOL=HTTP
APP_PORT=3001
APP_HOST=127.0.0.1

#DB
DB_TYPE=mysql
DB_HOST=#####
DB_PORT=#####
DB_USER=#####
DB_PASS=#####
DB_DATABASE=#####

# REDIS
REDIS_HOST=#####
REDIS_PORT=#####

#JWT
JWT_SECRET=test
JWT_EXPIRATION_TIME=600